version: '3.1' 
services:   
  prometheus:     
    container_name: prometheus   
    image: "prom/prometheus:v2.20.1"
    ports:
     - "{{ prometheus_external_port }}:9090"
    user: "65534:0"
    volumes:
      - {{ prometheus_volume_data }}:/prometheus
      - {{ prometheus_volume_config }}/prometheus.yml:/etc/prometheus/prometheus.yml
    restart: unless-stopped